* { 
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    color: #F9FAF8;
    background-color: #1F2937;
}
.header, .titulo, .subtitulo{
    display: flex;
    font-size: 35px;
    height: 100px;
    font-weight: 900;
    padding: 30px 50px 0 80px;
    /* border: 1px solid yellow; */
}

a{
    font-size: 18px;
    text-decoration: none;
    color: #F9FAF8;
}

.links-derecha{
    display: flex;
    justify-content: flex-end;
    height: 60px;
    gap: 40px;
    flex: 1;
    /* border: 1px solid red; */
}

.descripcion{
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    width: 700px;
    height: 250px;
}

.descripcion .titulo{
    height: 70px;
    font-size: 40px;
}

.descripcion .subtitulo{
    font-size: 15px;
    padding-top: 0;
    font-weight: 300;
}


button.inicia, button.unete{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: darkslateblue;
    color: #F9FAF8;
    width: 90px;
    height: 30px;
    margin-left: 80px;
}

.contenedor{
    display: flex;
    flex-shrink: 1;
    padding-bottom: 80px;
}
.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blueviolet; */
    flex: 1;
}
.imagen img{
    border-radius: 5px;
    width: 500px;
    height: 200px;
}

.contenedor-medio, .contenedor-final{
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    height: 500px;
    /* border: 2px solid red; */
}

.contenedor-medio .titulo{
    /* border: 1px solid springgreen; */
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #1F2937;
}

.ilustraciones{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid blue; */
    height: 300px;
}

.card{
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid blue; */
}

img.ilustracion{
    border-radius: 10px;
    border: 2px solid darkslateblue;
    width: 200px;
    height: 200px;
    box-shadow: 1px 2px 4px 1px #000000;
}

p.texto{
    margin-top: 15px ;
    color: #1F2937;
    font-weight: 900;
    font-size: 15px;
}

.contenedor-quote{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    /* border: 2px solid red; */
    background-color: #E5E7EB;
}

.quote{
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.frase{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 200px;
    /* border: 2px solid black; */
}

.autor{
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    color: black;
    font-size: 20px;
}

.contenedor-final{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    /* border: 1px solid red; */
}

.contenedor-azul{
    display: flex;
    border-radius: 10px;
    background-color: darkslateblue;
    /* border: 1px solid red; */
    width: 800px;
    height: 150px;
}

.leyendas{
    /* border: 1px solid black; */
    height: 120px;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 50px;
}

.join-now{
    color: #E5E7EB;
    font-size: 30px;
    font-weight: 900;
}

.contenedor-boton{
    display: flex;
    align-items: center;
    display: flex;
    height: 150px;
    width: 100px;
    flex: 1;
}

button.unete{
    font-size: 18px;
    background-color: darkslateblue;
    border: 2px solid white;
    width: 110px;
    height: 50px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 80px;
}

